html, body, h1, h2, h3, p, ol, ul, li, a {
    border: 0;
    padding: 0;
    margin: 0;
}

.banner-top {
    height: 100px;
    color: #FF7100;
    width: 100%;
}

.banner-split {
    height:2px;
    color:#FFA400;
    width: 100%;
}

.banner-bottom {
    height:50px;
    color: #FF7100;
    width:100%;
}


